    <!DOCTYPE html>
    <html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <nav>
            <a href="/">Home Page</a>
            <a href="/about">About Page</a>
    
        </nav>
             <div>
              
               
                            <h4><%= blog.title %></h4>
                            <p><%= blog.snippet %></p>
                            <p><%= blog.body %></p>
                      
                            <a href="" class="delete" data-doc="<%= blog._id %>"><button>Delete</button></a>
                </div>
    </body>
    <script>
        const delet = document.querySelector('.delete');

        const endpoint = `/blogs/${delet.dataset.doc}`

        fetch(endpoint, {
            method: "DELETE"
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch((err) =>{
            console.log(err)
        })
    </script>
    </html>
</body>
</html>